#root,
body,
html {
  padding: 0;
  margin: 0;
  background: hsl(20, 50%, 98%);
}

.imageButton__button {
  &:hover {
    .red-filter {
      filter: brightness(0) saturate(100%) invert(23%) sepia(91%)
        saturate(3872%) hue-rotate(12deg) brightness(89%) contrast(88%);
    }
  }
}
